<p>Willkommen <%= @email %>!</p>

<p>Du kannst deine E-Mail-Adresse über den folgenden Link bestätigen:</p>

<p><%= link_to "Konto bestätigen", user_confirmation_url(confirmation_token: @token) %></p>
