<p>Hallo <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Wir möchten dich darüber informieren, dass deine E-Mail-Adresse zu <%= @resource.unconfirmed_email %> geändert wird.</p>
<% else %>
  <p>Wir möchten dich darüber informieren, dass deine E-Mail-Adresse auf <%= @resource.email %> geändert wurde.</p>
<% end %>
