<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefordert, um dein Passwort zu ändern. Du kannst das über den folgenden Link tun.</p>

<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn du dies nicht angefordert hast, ignoriere bitte diese E-Mail.</p>
<p>Dein Passwort wird erst geändert, wenn du den obigen Link öffnest und ein neues vergibst.</p>
