<h1 class="text-3xl my-4 text-center">

  <%= heroicon "user", options: { class: "inline w-6 h-6 mr-2" } %>
  <%= @user.email %></h1>
<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
