<footer class="w-full flex justify-center overflow-hidden">

  <div
    class="
      content-container grid grid-cols-1 grid-flow-col md:grid-cols-2 gap-8 py-8
      text-center md:text-left
    "
  >
    <section class="mb-4 row-start-1">
      <h4 class="text-xl font-bold mb-3">Kontakt</h4>
      <p>
        Wir stehen allen Geschäften, den Anwohnerinnen und Anwohnern und den
        Besucherinnen und Besuchern gerne für Fragen und Anregungen zur
        Verfügung.
      </p>
    </section>
    <section class="mb-4 row-start-2">
      <h4 class="text-xl font-bold mb-3">Verein Erster Advent Bern</h4>
      <p>
        Wir stehen allen Geschäften, den Anwohnerinnen und Anwohnern und den
        Besucherinnen und Besuchern gerne für Fragen und Anregungen zur
        Verfügung.
      </p>
    </section>
    <section class="mb-4 row-start-3">
      <h4 class="text-xl font-bold mb-3">Vertreten durch</h4>
      <p>
        Kargo Kommunikation<br>
        Tel. 031 311 76 66
      </p>
    </section>

    <section class="mb-4 row-start-4 md:row-start-1">
      Im Namen aller Geschäfte und des Vereins,<b>
        danken wir den grosszügigen Gönnerbeiträgen unserer langjährigen
        Unterstützerinnen.</b>
    </section>

    <section
      class="mb-4 row-start-5 md:row-start-2 flex items-center justify-around"
    >
      <img
        src="<%= image_path('footer/passive_attack.png') %>"
        alt="Qauaprint Logo"
        class="w-24"
      >

      <img
        src="<%= image_path('footer/burgergemeinde_bern.png') %>"
        alt="Qauaprint Logo"
        class="w-24 h-auto"
      >

      <img
        src="<%= image_path('footer/berncity.png') %>"
        alt="Qauaprint Logo"
        class="w-24 h-auto"
      >

      <img
        src="<%= image_path('footer/aquaprint.png') %>"
        alt="Qauaprint Logo"
        class="w-24 h-auto"
      >
    </section>

  </div>
</footer>
