<% if block.image_1 && block.image_2 %>
  <section class="w-full py-8 md:py-10">
    <div class="page-container">
      <div class="responsive-grid gap-y-4">
        <div class="col-span-4 md:col-span-4 lg:col-span-6 h-56 md:h-96 xl:h-[540px]">
          <%= image_tag block.image_1,
          alt: "Erster Advent Bern",
          class: "object-cover w-full h-full rounded-[15px]" %>
        </div>

        <div class="col-span-4 md:col-span-4 lg:col-span-6 h-56 md:h-96 xl:h-[540px]">
          <%= image_tag block.image_2,
          alt: "Erster Advent Bern",
          class: "object-cover w-full h-full rounded-[15px]" %>
        </div>
      </div>
    </div>
  </section>
<% end %>
<% if block.image_1 && !block.image_2 %>
  <section class="w-full py-8 md:py-10">
    <div class="page-container">
      <div class="h-56 md:h-96 xl:h-[540px] w-full">
        <%= image_tag block.image_1,
        alt: "Erster Advent Bern",
        class: "object-cover w-full h-full rounded-[15px]" %>
      </div>
    </div>
  </section>
<% end %>
